<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>


  <div class="container" id="main">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="fw-light">Kiểm Tra Lì Xì</h1>

        <table class="table table-hover" id="bao-lixi">
          <thead>
            <tr>
              <th scope="col">Mệnh giá</th>
              <th scope="col">Tổng</th>
              <th scope="col">Đã lấy</th>
              <th scope="col">Còn lại</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < listBaoLiXi.length; i++) { %>
            <tr menhgia-id="<%= listBaoLiXi[i].menhgiaId %>" =>
              <th scope="row">Bao <%= listBaoLiXi[i].menhgia %> đ</th>
              <td>
                <input class="form-control" value="<%=listBaoLiXi[i].total%>" minlength="0" placeholder='total'>
              </td>
              <td>
                <input class="form-control" value="<%=listBaoLiXi[i].use%>" minlength="0" placeholder='use'>
              </td>
              <td><%= listBaoLiXi[i].total - listBaoLiXi[i].use%></td>
            </tr>
            <% } %>
            
          </tbody>
        </table>
       <button id='save' class="pull-right btn btn-success">Save</button>
        <br>
        <table class="table table-hover" id="table-key">
          <thead>
            <tr>
              <th scope="col">Key</th>
              <th scope="col">isUsed</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < listKey.length; i++) { %>
            <tr>
              <th scope="row" data-id="<%= listKey[i].key %>">
                <input class="form-control" value="<%= listKey[i].key %>"placeholder='Key'>
              </th>
              <td>
                <select class="form-select" aria-label="<%=listKey[i].isUsed%>">
                  <%if (listKey[i].isUsed) { %>
                       <option value="true" selected>true</option>
                       <option value="false">false</option>
                  <% } else { %>
                       <option value="true">true</option>
                       <option value="false" selected>false</option>
                  <% } %>

                </select>
              
              </td>
            </tr>
            <% } %>
            
          </tbody>
        </table>
<button id="add_row" class="btn btn-primary pull-left">Add Key</button>
<button id='save_key' class="pull-right btn btn-primary">Save</button>

      </div>
    </div>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script src="../scripts/kiemtra.js"></script>
  <%- include('../partials/errorModal'); %>
  <%- include('../partials/successModal'); %>
</body>

</html>